* {
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box;
}

body {
  margin:auto;
  padding:20px;
  background-color:#c9bfef;
}

h3, p {
  font-family:sans-serif;
}

p {
  font-size:16px;
}

canvas {
  padding:0;
  margin:auto;
  display:block;
  width:288px;
  height:288px;
  position:absolute;
  top:-150px;
  bottom:0;
  left:0;
  right:0;
  border:3px solid #a796e5
}
